name: masarak_ocr
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.5.4

dependencies:
  flutter:
    sdk: flutter
  flutter_gemini: ^3.0.0
  flutter_tesseract_ocr: ^0.4.28
  google_mlkit_text_recognition: ^0.14.0
  image_cropper: ^8.1.0
  image_picker: ^1.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/
    - assets/tessdata/
